.header-wrapper {
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    border-bottom: 1px solid lightgrey;
    background-color: #ffffff;
}
.header-wrapper .inline-wrapper {
    width: 30%;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    vertical-align: middle;
}
.header-wrapper .logo-wrapper img {
    display: inline-block;
    vertical-align: middle;
}
.header-wrapper .logo-wrapper img:nth-child(1){
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.header-wrapper .logo-wrapper img:nth-child(2){
    width: 103px;
    height: 29px;
}
.header-wrapper .search-wrapper form {
    position: relative;
}
.header-wrapper .search-wrapper form input[type="submit"]{
    display: none;
}
.header-wrapper .search-wrapper form .tag-suggestion-wrapper {
    background: #fff;
    border: solid 1px #e6e6e6;
    border-radius: 3px;
    /* -webkit-box-shadow: 0 0 5px rgba(0,0,0,.0975); */
    /* box-shadow: 0 0 5px rgba(0,0,0,.0975); */
    display: block;
    left: 50%;
    margin-left: -121px;
    position: absolute;
    right: -12px;
    top: 45px;
    width: 243px;
    max-height: 400px;
    overflow-y: scroll;
    z-index: 9;
}
/* .header-wrapper .search-wrapper form .tag-suggestion-wrapper ul li  {
    list-style-type: none;
} */
.header-wrapper .search-wrapper form .tag-suggestion-wrapper a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #003569;
    align-items: center;
    border-bottom: solid 1px #efefef;
    height: 50px;
    padding: 8px 14px;
}
.header-wrapper .search-wrapper form .tag-suggestion-wrapper a:hover {
    background-color: lightgray;
}
.header-wrapper .search-wrapper form .tag-suggestion-wrapper div:nth-child(1) {
    display: inline-block;
    vertical-align: middle;
    color: lightgrey;
    font-size: 25px;
}
.header-wrapper .search-wrapper form .tag-suggestion-wrapper div:nth-child(2) {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    text-align: left;
    font-size: 14px;
}
.header-wrapper .search-wrapper form .tag-suggestion-wrapper div:nth-child(2) span:nth-child(1){
    color: #262626;
    font-weight: 600;
    display: block;
}
.header-wrapper .search-wrapper form .tag-suggestion-wrapper div:nth-child(2) span:nth-child(2){
    color: #999;
    display: block;
}
.header-wrapper .search-wrapper input{
    width: 215px;
    height: 17px;
    border: 1px solid lightgrey;
    background-color: #f7f7f7;
    padding: 5px;
}
.header-wrapper .profile-info-wrapper img {
    width: 24px;
    height: 24px;
    margin-right: 45px;
    cursor: pointer;
}