.profile-detail-wrapper {
    max-width: 935px;
    margin: 100px auto;
}
.profile-detail-wrapper .user-pic {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}
.profile-detail-wrapper .user-pic img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}
.profile-detail-wrapper .user-info {
    width: 48%;
    display: inline-block;
    vertical-align: middle;
}
.profile-detail-wrapper .user-info .details>div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.profile-detail-wrapper .user-info .details .username {
    font-size: 28px;
    line-height: 32px;
    display: inline-block;
}
.profile-detail-wrapper .user-info .details .upload-btn {
    background-color: transparent;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #262626;
    padding: 5px 10px;
    font-weight: 500;
    cursor: pointer;
}
.profile-detail-wrapper .user-info .details .settings img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.profile-detail-wrapper .user-info .social-share-wrapper {
    margin: 20px 0;
}
.profile-detail-wrapper .user-info .social-share-wrapper>div{
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}
.profile-detail-wrapper .user-info .social-share-wrapper>div span:nth-child(1){
    font-weight: 600;
    margin-right: 10px;
}
.profile-detail-wrapper .user-info .social-share-wrapper>div span:nth-child(2){
    font-weight: normal;
}
.profile-detail-wrapper .nav-tabs {
    border-top: 1px solid #efefef;
    align-items: center;
    color: #999;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 1px;
    text-align: center;
    margin: 50px 0;
}
.profile-detail-wrapper .nav-tabs a{
    display: flex;
    flex-direction: row;
    height: 52px;
    text-transform: uppercase;
    margin-right: 60px;
    text-decoration: none;
    color: #999;
}
.profile-detail-wrapper .nav-tabs a.active {
    border-top: 1px solid #262626;
}
.profile-detail-wrapper .nav-tabs a span {
    padding: 3px 0;
}
.profile-detail-wrapper .post-image {
    width: 33%;
    display: inline-block;
    margin-bottom: 20px;
}
.profile-detail-wrapper .post-image img {
    width: 293px;
    height: 293px;
}